#herospace {
    background-image: url('/herospace-3.jpg');
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
}

.herospace-container {
    position: relative;
    z-index: 1;
    width: calc(100% / 2);
    padding: 2rem;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 20px;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    transition: 1s ease-in-out;
}

.herospace-container:hover {
    transform: scale(1.05);
}

.herospace-container::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    height: 60px;
    background: rgba(255, 255, 255, 0.015);
    filter: blur(20px);
    border-radius: 0 0 50px 50px;
    z-index: 1;
}

.herospace-container::after {
    content: '';
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.03);
    filter: blur(30px);
    border-radius: 0 0 40px 40px;
    z-index: 1;
}