.product-detail-container {
  padding: 2rem 0;
  background-color: #fff8f3;
  min-height: 100vh;
}

.text-rosa {
  color: #d13b3b;
}

.btn-red {
  background-color: #d63384;
  color: white;
  border: none;
}

.btn-pill {
  border-radius: 50px !important;
}