.img-size {
    width: 80px;
}

.title-style {
    font-size: 28px;
}

ul li {
    font-size: 20px;
}

ul li a {
    color: black;
}

.navbar-bg-color {
    background-color: #d13b3b;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
}

.margin-navbar {
    margin-bottom: 80px;
}