.img-size {
  width: 80px;
}

.title-style {
  font-size: 28px;
}

ul li {
  font-size: 20px;
}

ul li a {
  color: black;
}

.navbar-bg-color {
  background-color: #d13b3b;
}

.navbar-fixed {
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  z-index: 1050;
}

.banner-fixed {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 1050;
}

.margin-navbar {
  margin-bottom: 125px;
}

/* Effetto hover sulle icone (cuore e carrello) */
.icon-hover i {
  transition: transform 0.2s ease, color 0.3s ease;
}

.icon-hover:hover i {
  transform: scale(1.2);
  cursor: pointer;
}

.nav-link i {
  transition: transform 0.2s ease, color 0.2s ease;
  display: inline-block;
}

.nav-link:hover i {
  transform: scale(1.1);
  /* ingrandisce leggermente */
}

.position-relative {
  position: relative;
  /* serve per contenere elementi posizionati assolutamente dentro */
}



.cart-badge {
  position: absolute;
  top: -6px;
  right: -10px;

  background-color: #ffffff;
  /* sfondo bianco */
  border: solid 1px black;
  color: #000;

  /* "pillola" dinamica */
  min-width: 22px;
  height: 22px;
  padding: 0 6px;

  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 999px;
  /* cerchio width = height */

  pointer-events: none;

  /* Disabilita qualsiasi interazione con l’elemento, quindi non riceve click o hover */
  -webkit-user-select: none;
  /* Safari iOS */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
}

.freeshipment {
  background-color: rgb(255, 255, 162);
}

.container-banner {
  position: fixed;
  top: 135px;
  right: 30px;
  z-index: 4000;
  width: 600px;
}