.img-size {
    width: 80px;
}

.title-style {
    font-size: 28px;
}

ul li {
    font-size: 20px;
}

ul li a {
    color: black;
}

.navbar-bg-color {
    background-color: #d13b3b;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
}

.margin-navbar {
    margin-bottom: 80px;
}

/* Effetto hover sulle icone (cuore e carrello) */
.icon-hover i {
  transition: transform 0.2s ease, color 0.3s ease;
}

.icon-hover:hover i {
  transform: scale(1.2);
  color: #ffe600;
  cursor: pointer;
}

.nav-link i {
  transition: transform 0.2s ease, color 0.2s ease;
  display: inline-block;
}

.nav-link:hover i {
  transform: scale(1.1); /* ingrandisce leggermente */
  color: #ffcc00; /* colore evidenziato  */
}
