/* font del sito */


body {
    font-family: "Poiret One", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* ------------------------------------------------------------------- */

/* stile per le card in PosterCard.jsx/Homepage.jsx */

.img-container {
    height: 800px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fix-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#links-section {
    text-align: center;
    margin: 10px 0;
}

#links-section a {
    text-decoration: none;
    color: black;
    margin-right: 1rem;
}

#links-section a:hover {
    color: rgb(63, 63, 63);
    text-decoration: underline #d13b3b;
}

.swiper-wrapper {
    padding: 40px 0;
}

.poster-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.poster-card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0.5, 0.5);
    transform: scale(1.02);
}

.margin-card-text {
    margin-bottom: 5px;
}

/* ------------------------------------------------------------------- */

/* stiler per il footer */

.bg-footer {
    background-color: #d13b3b;
}

;

.logo-footer {
    width: 400px;
    height: 100px;
}

.button-hover:hover {
    transform: scale(1.09);
}

.button-hover {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-price {
    height: 250px;
}

.img-cart {
    height: 240px;
}

/* Layout per sticky footer */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

/* ------------------------------------------------------------------- */

/* stile per il carrello */

.disable-class {
    pointer-events: none;
    opacity: 0.5;
}

.disabled-icon {
    pointer-events: none;
    opacity: 0.5;
}

.border-card-cart {
    border-bottom: 1px solid grey !important;
}